@use "./variables" as *;
@use "./mixin" as *;
@use "./typography" as *;


*{
    box-sizing: border-box;
}

html{
    margin:0px;
    padding: 0 1rem;
}

body{
    background-color: $White;
    font: "Avenir Next";
    font-size:0.8125rem;
    line-height:1.125rem;
    font-weight:400; 
    color: $BandSite-Black;
}

h1{
    font-size:1.5rem;
    line-height:2rem;
    font-weight:700;
    color: $White;
}

h2{
    font-size: 1.5rem;
    line-height:2rem;
    font-weight:700;
    color: $BandSite-Black;

}

h3{
    font-size: 0.875rem;
    line-height:1.375rem;
    font-weight:600; 
    color: $BandSite-Black;
}

footer{
    font-size: 0.8125rem;
    line-height:1.125rem;
    font-weight:400; 
    color: $White;
    background-color: $BandSite-Black;
}




// nav-bar
.nav-bar{
    padding: 0rem;
    
    
    &__background{
    background-color: $BandSite-Black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    &__list {
    display:flex;
    justify-content: center;
    align-items: center;
    }

    &__list-items{
        color:$Silver;
        text-decoration: none;
        list-style-type: none;
        
    }
      
}

// footer
.footer{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;


    &__social{
        display:flex;
        justify-content: space-between;
    }

    &__contact{
        margin:1rem,0;
        padding:1rem,0
    }

    &__logo{
      margin-top:2rem;
      padding:1rem;
    }

   & __logo-copyright{
     align-items: start;
   }
}




