@use "./variables" as *;
@use "./mixin" as *;
@use "./typography" as *;


*{
    box-sizing: border-box;
}

html{
    margin:0px;
    padding: 0 1rem;
}

body{
    background-color: $White;
    font: "Avenir Next";
    font-size:0.8125rem;
    line-height:1.125rem;
    font-weight:400; 
    color: $BandSite-Black;
}

h1{
    font-size:1.5rem;
    line-height:2rem;
    font-weight:700;
    color: $White;
}

h2{
    font-size: 1.5rem;
    line-height:2rem;
    font-weight:700;
    color: $BandSite-Black;

}

h3{
    font-size: 0.875rem;
    line-height:1.375rem;
    font-weight:600; 
    color: $BandSite-Black;
}

footer{
    padding:1rem;
    font-size: 0.8125rem;
    line-height:1.125rem;
    font-weight:400; 
    color: $White;
    background-color: $BandSite-Black;
}




// nav-bar
.nav-bar{
    padding: 0rem;
    margin:0;
    background-color: $BandSite-Black;
    

    &__logo{
        margin:1rem;
    }

    &__link--active {
        border-bottom: 3px solid $White;
      }
    
    
    &__background{
    display:flex;
    flex-direction: column;
    align-items: center;
    }

    &__list {
    display:flex;
    justify-content: center;
    text-align:start;
    gap:0.5rem;
    }

    &__list-items{
        color:$Mercury;
        display:inline-block;
        text-decoration: none;
        list-style-type: none;
        width:50vw;
        text-align:center;
        padding-bottom: 1rem;
        
    }
      
}

// footer
.footer{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;

    &__title{
        color: $White;
    }

    &__social{
        display:flex;
        margin-bottom: 1.5rem;
        gap: 1rem;
      
    }
      

    &__contact{
        display:flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom:2.25rem;
        margin:1rem,0;
        padding:1rem,0;
        width:65%;
        color: $White;
        font-weight: 600;
    }

    &__address--smaller{
        width:130px;
    }

    &__contact-text{
        text-decoration: none;
        color: $White;
    }

    &__logo{
      margin-top:2rem;
    }

   & __logo-copyright{
     align-items: start;
   }
}





