@font-face {
    font-family: "Avenir Next";
    src: url("../../assets/Font/AvenirNextLTPro-Regular.otf"),
      url("../../assets/Font/Alternative-files/AvenirNextLTPro.ttf")
        format("regular");
    font-weight: 400;
  }
  

  @font-face {
    font-family: "Avenir Next";
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"),
      url("../../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf")
        format("demi");
    font-weight: 600;
  }

  @font-face {
    font-family: "Avenir Next";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"),
      url("../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf")
        format("bold");
    font-weight: 700;
  }

  