@use"./partials/mixin"  as *;
@use"./partials/typography"  as *;
@use"./partials/variables"  as *;
@use "./partials/global" as *;


// hero section
.hero-banner{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;

   &--layout{
    display: flex;
    align-items: center;
    height:45vh;
}

   &__title{
    color:$White;
    margin:1.5rem;
  }
}

// About the Musicians Section
.about-section{
  padding:1rem;
  margin:0 1rem;
  color: $BandSite-Black;

  &__title{
    margin-top:0.5rem;
  }

  &__img{
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;

  }

  &__description{
    font-weight:700;
  }

  &__article{
    color: $BandSite-Black;
  }
}


// Photo Gallery Section

.gallery-section{
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: $Alabaster;

  &__container {
    @include desktop {
      margin: 0 auto;
      max-width: 1280px;
    }
  }


  &__title{
    margin-top: 0;
  }

  &__img-cards{
    display:flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__image{
    width: 100%;
    height: auto;
  }
}

