@use "./partials/mixin" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;
@use "./partials/global" as *;

// hero section
.hero-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &--layout {
    display: flex;
    align-items: center;
    height: 45vh;

    @include tablet {
      height: 50vh;
    }

    @include desktop {
      height: 60vh;
      margin: 0 auto;
    }
  }

  &__title {
    color: $White;
    margin: 2rem;
    padding: 0.5rem;
  }
}

// About the Musicians Section
.about-section {
  padding: 1rem;
  margin: 0 1rem;

  @include desktop {
    margin: 0 auto;
    max-width: 100%;
  }

  &__title {
    margin-top: 0.5rem;
  }

  &__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 2.25rem;
    }
  }

  &__description {
    font-weight: 700;
  }

  &__sub--layout {
    @include tablet {
      display: flex;
      gap: 1.5rem;
    }
  }

  &__article {
    color: $BandSite-Black;
  }

  @include tablet {
    margin: 0 2.25rem;
  }
}

// Photo Gallery Section

.gallery-section {
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: $Alabaster;

  &__container {
    @include desktop {
      margin: 0 auto;
    }
  }

  &__title {
    margin-top: 0;
    @include tablet {
      padding: 3rem 2.25rem 2.25rem 2.25rem;
      margin-top: 0rem;
    }
  }

  &__img-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
    }
    &--row {
      @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__image {
    width: 100%;
    height: auto;
    @include tablet {
      width: 30%;
      padding: 0.8rem;
    }
  }
}

// Join the conversation section

.conversation {
  padding: 1rem;

  &__heading {
    margin-left: 2rem;
  }
  &--display {
    display: flex;
    gap: 1rem;
    @include desktop {
      width: 70%;
      margin: auto;
    }
  }

  &__image {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: 20% 50%;
    background-color: $Mercury;
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__input {
    border-radius: 4px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid $Mercury;
    text-align: start;
    outline: none;
    font-family: "Avenir Next";
    font-size: 1.5rem;
    line-height: 1.125rem;
    font-weight: 400;
    background-color: $Alabaster;
    color: $BandSite-DarkBlack;
  }

  &__label {
    color: $Silver;
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
  }
  &__button {
    height: 2.5rem;
    font-size: 1.5rem;
    color: $White;
    background-color: $BandSite-Black;
    border-radius: 0.25rem;
    @include tablet {
      padding: 0 2rem;
      width: 12.5rem;
      margin-left: auto;
    }
  }

  &__list {
    list-style: none;
    margin-top: 2rem;
    @include tablet {
      padding: 3rem;
    }
    @include desktop {
      width: 100%;
    }
  }

  &__list-item {
    border-bottom: 1px solid $Mercury;
    margin-bottom: 1rem;
    padding-left: 3.125rem;
    gap: 1rem;
    color: $BandSite-DarkBlack;
  }
  &__list-item::before {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 3.75rem;
    background-color: $Mercury;
    border-radius: 50%;
    @include desktop {
      left: 18rem;
    }
  }

  &__comment-detail {
    flex-grow: 1;
  }

  &__name {
    font-weight: 500;
  }

  &__date {
    color: $Silver;
  }

  &__name-time {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
